<% include partials/header %>


<h1 style="background-color:DodgerBlue; font-family:Oswald,sans-serif; color: #ffffff; text-align:center;">Easy Medic</h1>

	<h2 style="background-color:rgba(199, 231, 244, 0.73); font-family:sans-serif; color: #000000; text-align:center;"> Citas</h2>



 <table style="width:100%">
			<tr> 
			<th>Nombre del paciente</th>
			<th>Tipo de cita</th>
			<th>Fecha</th>
			<th>Hora</th>
			<th>Estado de la cita</th>
			</tr>

       <% resultado.forEach(function(res){ %>


			<tr>		
			<td><%= res.PNombre %></td>
			<td><%= res.Tipocita %></td>
			<td><%= res.Fecha %></td>
			<td><%= res.Hora %></td>
			<td><%= res.Estadocita %></td>
			</tr>

			<%})%>

		</table>


<% include partials/footer %>